<section>
    <app-header></app-header>
    <main class="flex-1 overflow-y-auto bg-gray-50 p-4 md:p-6 container">
        <div *ngIf="isPermission && isLogin" class="bg-white rounded-lg shadow" style="padding-left: 10px; padding-right: 10px;">
            <div class="grid">
                <div class="row">
                    <div class="col-8">
                        <h2 class="text-lg font-semibold text-gray-800">Quản Trị Viên: {{currentActionUser?.userName}}</h2>
                        <p class="text-sm text-gray-500 mt-1">Danh sách nhà đầu tư đang bạn quản lý</p>
                    </div>
                    <div class="col-4" style="text-align: right;">
                        <button class="common-button" id="add-user-btn" (click)="addUserDialog()">
                            <i class="fas fa-plus" style="font-size: 40px;"></i>
                        <br>
                            Thêm nhà đầu tư
                        </button>
                    </div>
                </div>
            </div>
            <div class="overflow-x-auto">
                <table class="table table-striped table-bordered">
                    <thead class="bg-gray-50">
                        <tr>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Tên người dùng
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Email
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Tài khoản dự kiến
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Lợi nhuận %
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Số điện thoại
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Trạng thái
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Thao tác
                            </th>
                        </tr>
                    </thead>
                    <tbody id="users-table-body" class="bg-white divide-y divide-gray-200">
                        <tr *ngFor="let user of cryptoUsers">
                            <td class="px-6 py-4 whitespace-nowrap">{{ user.userName }}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ user.email }}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ user.balance | number }} (VNĐ) </td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ user.profit }} %</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ user.phoneNumber }}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ user.status }}</td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <button (click)="editUserDialog(user.userName, user.email, user.phoneNumber, user.userId)" class="common-button">Sửa</button>
                                <button (click)="selectedUser(user.email)" class="common-button">Chi tiết</button>
                                <!-- <button (click)="deleteUser(user.id)" class="text-red-600 hover:text-red-900 ml-4">Delete</button> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6">
                <div class="flex-1 flex justify-between sm:hidden">
                    <a href="#"
                        class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
                        Previous
                    </a>
                    <a href="#"
                        class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
                        Next
                    </a>
                </div>
            </div>
        </div>
        <div *ngIf="!isPermission || !isLogin" class="bg-white rounded-lg shadow p-4">
            <h2 class="text-lg font-semibold text-gray-800">Access Denied</h2>
            <p class="text-sm text-gray-500 mt-1">You do not have permission to view this page.</p>
        </div>
    </main>
</section>