<section>
    <app-header [isRegister]="isRegister"></app-header>
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-top h-100 register-container">
          <div class="col-lg-12 col-xl-11">
            <div class="card text-black" style="border-radius: 25px;">
              <div class="card-body p-md-5">
                <div class="row justify-content-center">
                  <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
    
                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
    
                    <form [formGroup]="registerForm" class="mx-1 mx-md-4" (submit)="submitRegister()">
                      <div class="d-flex flex-row mb-4" style="text-align: end;" *ngIf="registerForm.controls.userName.errors && isPressRegister" class="text-danger">
                        <div *ngIf="registerForm.controls.userName">Full Name is required</div>
                      </div>
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div data-mdb-input-init class="flex-fill mb-0">
                          <input id="user-name" type="text" class="form-control register-field" placeholder="Enter Your Full Name" formControlName="userName" required/>
                        </div>
                      </div>

                      <div class="d-flex flex-row mb-4" style="text-align: end;" *ngIf="registerForm.controls.email.errors && isPressRegister" class="text-danger">
                        <div *ngIf="registerForm.controls.email.errors?.['required']">Email is required</div>
                        <div *ngIf="registerForm.controls.email.errors?.['email']">Please enter a valid email address.</div>
                      </div>
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div data-mdb-input-init class="flex-fill mb-0">
                          <input id="email" type="email" class="form-control register-field" placeholder="Enter Your Email"  formControlName="email" required>
                          <div class="invalid-feedback">
                            Please provide a valid email address.
                          </div>
                        </div>
                      </div>
                      <div class="d-flex flex-row mb-4" style="text-align: end;" *ngIf="registerForm.controls.password.errors && isPressRegister" class="text-danger">
                        <div *ngIf="registerForm.controls.password.errors?.['required']">Password is required</div>
                        <div *ngIf="registerForm.controls.password.errors?.['email']">Password is invalided.</div>
                      </div>
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                        <div data-mdb-input-init class="flex-fill mb-0">
                          <input id="password" type="password" class="form-control register-field" placeholder="Enter Your Password" formControlName="password"/>
                        </div>
                      </div>
    
                      <div class="d-flex flex-row mb-4" style="text-align: end;" *ngIf="registerForm.controls.repeatPassword.errors && isPressRegister" class="text-danger">
                        <div *ngIf="registerForm.controls.repeatPassword.errors?.['required']">Repeat password is required</div>
                        <div *ngIf="registerForm.controls.repeatPassword.errors?.['marching']">Repeat password is not match.</div>
                      </div>
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                        <div data-mdb-input-init class="flex-fill mb-0">
                          <input id="repeat-password" type="password" class="form-control register-field" placeholder="Repeat your password" formControlName="repeatPassword" />
                        </div>
                      </div>
    
                      <div class="form-check d-flex justify-content-center mb-5" style="margin-bottom: 1rem !important;">
                        <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                        <label class="form-check-label" for="form2Example3c">
                          I agree all statements in <a href="#!">Terms of service</a>
                        </label>
                      </div>
    
                      <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="common-button">Register</button>
                      </div>
    
                    </form>
    
                  </div>
                  <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
    
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                      class="img-fluid" alt="Sample image">
    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>