################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CryptoInvestmentWeb/CryptoInvestmentServices/CryptoInvestmentServices/bin/Debug/net9.0
/CryptoInvestmentWeb/CryptoInvestmentServices/CryptoServiceCore/bin/Debug/net9.0
/CryptoInvestmentWeb/CryptoInvestmentServices/Infrastructure/bin/Debug/net9.0
/CryptoInvestmentWeb/CryptoInvestmentServices/CryptoInvestmentServices/obj/Debug/net9.0
/CryptoInvestmentWeb/CryptoInvestmentServices/CryptoInvestmentServices/obj
/CryptoInvestmentWeb/CryptoInvestmentServices/CryptoServiceCore/obj
/CryptoInvestmentWeb/CryptoInvestmentServices/Infrastructure/obj
/CryptoInvestmentWeb/CryptoInvestmentServices/obj
/CryptoInvestmentWeb/CryptoInvestmentServices/.vs
/CryptoInvestmentWeb/CryptoInvestmentServices/.vs/CryptoInvestmentServices/CopilotIndices

/UserManagerment/UserManagementAPI/UserManagementAPI/bin
/UserManagerment/UserManagementAPI/UserManagementAPI/obj
/UserManagerment/UserManagementAPI/UserCore/bin
/UserManagerment/UserManagementAPI/UserCore/obj
/UserManagerment/UserManagementAPI/Infrastructure/obj
/UserManagerment/UserManagementAPI/Infrastructure/bin
/UserManagerment/UserManagementAPI/.vs/UserManagementAPI/CopilotIndices
UserManagerment/UserManagementAPI/.vs/UserManagementAPI/FileContentIndex/3ae25465-f436-47bc-a3f7-0364f5844b6f.vsidx
UserManagerment/UserManagementAPI/.vs/UserManagementAPI/FileContentIndex/8b54f3fd-b153-4480-bee0-c5084d79f6db.vsidx
UserManagerment/UserManagementAPI/.vs/UserManagementAPI/FileContentIndex/846ef565-c9ed-4db8-a0fc-1aeaaa21f0c2.vsidx
UserManagerment/UserManagementAPI/.vs/UserManagementAPI/FileContentIndex/20452d55-caca-4793-8a48-14aa57d6bc35.vsidx
UserManagerment/UserManagementAPI/.vs/UserManagementAPI/FileContentIndex/81625361-3c88-44ef-9817-c093d34a7e7b.vsidx
UserManagerment/UserManagementAPI/.vs/UserManagementAPI/FileContentIndex/cef9dce7-4f6c-4e6d-ad29-8459fd403e07.vsidx
UserManagerment/UserManagementAPI/.vs/UserManagementAPI/FileContentIndex/ec9f4d17-76e3-44ee-ba1d-f1669c68daea.vsidx
UserManagerment/UserManagementAPI/.vs/UserManagementAPI/FileContentIndex/f96861fa-ded3-42b5-b86c-6e8d151ab12b.vsidx
