.card{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.table-userinformation {
    width: 100%;
    border-collapse: collapse;
}
.table-userinformation th, .table-userinformation td {
    padding: 8px 12px;
    border: 1px solid #e0e0e0;
    text-align: left;
}

.table-userinformation td input {
    width: 100%;
    border: #e0e0e0 solid 1px;
    border-radius: 4px;
    padding: 8px;
}

.buying-color {
    color: #037019;
}

.selling-color {
    color: #950404;
}