/* You can add global styles to this file, and also import other style files */
@import '@fortawesome/fontawesome-free/css/all.css';

.white-text {
    color: #fff !important;
}

.common-button {
    padding: 5px 15px;
    border-radius: 5px;
    background-color: burlywood;
    border: none;
    text-align: center;
    font-weight: bold;
    margin: 5px;
}
.common-button:hover{
    background-color: antiquewhite;
}

.red-snackbar {
  background: #f30d0d;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
