<section>
    <app-header [userModel]="userModel" [isLogin]="isLogin"></app-header>
    <div class="container">
        <div class="home-body container">
            <div class="row portfolio-container">
                <div id="portfolio-text" class="col">
                    <div style="height: 20%; padding-left: 120px; padding-top: 70px;">
                        <h3>Hello {{userModel?.fullName}}</h3>
                    </div>
                    <div style="height: 80%; display: flex; text-align: center; max-width: 400px;">
                        <a style="font-size: 60px; font-weight: 700;">Welcome to your dream World!</a>
                    </div>
                </div>
                <div class="col"></div>
            </div>
            <div style="text-align: center; padding-top: 20px">
                <h2>The Services</h2>
                <h5>Please choose a Service</h5>
            </div>
            <div class="row services-container container" style="padding-top: 50px; padding-bottom: 50px;">
                <div *ngFor="let service of ListServices" class="col-md-6 mb-4 text-center">
                    <div *ngIf="service.id == '7FF6451C-7D2E-4568-B6D2-D84E27E18319'" class="col card-body home-card" (click)="onServiceClick(isCryptoService, service.id)">
                        <!-- <img src="assets/images/crypto.png" alt="Crypto Investor" /> -->
                        <h4>Crypto Investor</h4>
                        <div *ngIf="isCryptoService"> Active </div>
                    </div>
                    
                    <div *ngIf="service.id === 'B11CE3B0-3074-421C-A601-B7BF9252C78C'" class="col home-card" (click)="onServiceClick(isShoppingService, service.id)">
                        <!-- <img src="assets/images/shop-house.png" alt="Shop House Online" /> -->
                        <h4>Shop House Online</h4>
                        <div *ngIf="isShoppingService"> Active </div>
                    </div>
                </div>
                <!-- <div class="col home-card">Profile</div> -->
            </div>
        </div>
    </div>
</section>